ul {
  list-style: none;
}

.infi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
  padding: 1em;
}

.pokeListItem {
  border: 2px solid #444a4d;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  width: 12vw;
  height: auto;
  background-color: #2d3032;
  cursor: pointer;
}

.pokeListItem img {
  width: 8vw;
}

.pokemon-name {
  text-transform: capitalize;
  font-size: clamp(0.5rem, 1rem, 10vw);
  font-weight: bold;
}

.icon-div {
  display: flex;
  justify-content: end;
  gap: 0.1rem;
}

.top-div {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: clamp(0.3rem, 0.8rem, 10vw);
}

.id {
  background-color: #444a4d;
  padding: 0 5px;
  border-radius: 5px;
}
