.pokemonDiv {
  display: flex;
  padding: 2rem;
  background-color: #2d3032;
  border-radius: 15px;
  border: 1px solid #776f62;
}

#pokemonName {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.8rem;
}

#statUl {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  list-style: none;
}

.capilizeSpan {
  text-transform: capitalize;
}

#statContainer {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#statDiv p {
  font-weight: bold;
}

.whSpan {
  font-weight: bold;
}

#backBtn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #2d3032;
  border: 2px solid #444a4d;
  border-radius: 5px;
  cursor: pointer;
}

#btnDiv {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-left: 1rem;
}
