.pokeListItem {
  border: 2px solid #444a4d;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  width: 12vw;
  height: auto;
  background-color: #2d3032;
  cursor: pointer;
}

.pokeListItem img {
  width: 8vw;
}

.pokemonName {
  text-transform: capitalize;
  font-size: clamp(0.5rem, 1rem, 10vw);
  font-weight: bold;
}

.iconDiv {
  display: flex;
  justify-content: end;
  gap: 0.1rem;
}

.topDiv {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: clamp(0.3rem, 0.8rem, 10vw);
}

#id {
  background-color: #444a4d;
  padding: 0 5px;
  border-radius: 5px;
}
