#root {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#navLink {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}
