#slide-image {
  width: 20rem;
  height: 20rem;
}

button {
  border: none;
  padding: 2rem 1rem;
  opacity: 80%;
}

#right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-div {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 14rem;
  gap: 15rem;
}
p {
  text-align: center;
}

#slide-div {
  background-color: #2d3032;
  padding: 1rem 2rem;
  border-radius: 15px;
}
