#slide-image {
  width: 20rem;
  height: 20rem;
}

.slideBtn {
  border: none;
  padding: 2rem 1rem;
  opacity: 80%;
  background-color: #202224;
}

#right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#left {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-div {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 14rem;
  gap: 15rem;
}

#index {
  text-align: center;
}

#slide-div {
  padding: 1rem 0;
  border-radius: 15px;

  min-width: 20rem;
}

#no-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}
