#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
}

.infi {
  display: grid;
  border: 2px solid red;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
  padding: 1em;
}

.pokeListItem {
  border: 2px solid greenyellow;
  text-align: center;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
}

.pokeListItem img {
  width: 12rem;
}

.pokeListItem p {
  text-transform: capitalize;
}
